[submodule "pfile"]
	path = medimg/pfile
	url = git@github.com:cni/pfile.git
[submodule "mux_epi_recon"]
	path = medimg/mux_epi_recon
	url = git@github.com:cni/mux_epi_recon
[submodule "spiral_recon"]
	path = medimg/spiral_recon
	url = git@github.com:cni/spiral_recon
